@model Project_62130516.Models.Lop

@{
    ViewBag.Title = "Xóa lớp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý lớp học</h2>

<h3>Bạn có chắc chắn muốn xóa không? Hãy cân nhắc lại</h3>
<div>
    <h4>Xóa lớp học</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLop)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
