@model Project_62130516.Models.PhanQuyen

@{
    ViewBag.Title = "Xóa quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý phân quyền</h2>

<h3>Bạn có chắc chắn muốn xóa không? Hãy cân nhắc lại</h3>
<div>
    <h4>Xóa quyền</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQuyen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
