@model Project_62130516.Models.PhanQuyen

@{
    ViewBag.Title = "Chi tiết quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý phân quyền</h2>

<div>
    <h4>Chi tiết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQuyen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở về", "Index")
</p>
